@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<h2 style="text-align: center;">New Clothing </h2>
<br />
<div class="slider-frame">
    <div class ="slide-images">
        <div class= "img-container">
            <img src = "~/image/sports4.jpg"/>
  <div class="text-block">
    <h4>Nature</h4>
    <p>What a beautiful sunrise</p>
  </div>
        </div>
        <div class= "img-container">
            <img src = "~/image/sports7.jpg"/>
        </div>
        <div class= "img-container">
            <img src = "~/image/sports3.png"/>
        </div>
        <div class= "img-container">
            <img src = "~/image/sports5.jpg"/>
        </div>
    </div>
</div>