@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <section id="banner" class="major">
	<div class="inner">
		<header class="major">
			<h1>Hi, This is ShermanLittleSecretWardrobe</h1>
			<p>We use recycle polyester and nylon to design our clothing</p>
		</header>
	</div>
<iframe width="560" height="315" src="https://www.youtube.com/embed/obO1PKfXGpQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	</section>
</div>
