@page
@model ShermansLittleSecretWardrobe.Pages.Orders.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Order.OrderId" />
            <div class="form-group">
                <label asp-for="Order.CartId" class="control-label"></label>
                <input asp-for="Order.CartId" class="form-control" />
                <span asp-validation-for="Order.CartId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.OrderStatus" class="control-label"></label>
                <input asp-for="Order.OrderStatus" class="form-control" />
                <span asp-validation-for="Order.OrderStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.UserId" class="control-label"></label>
                <input asp-for="Order.UserId" class="form-control" />
                <span asp-validation-for="Order.UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.ShippingId" class="control-label"></label>
                <input asp-for="Order.ShippingId" class="form-control" />
                <span asp-validation-for="Order.ShippingId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.CreationTimestamp" class="control-label"></label>
                <input asp-for="Order.CreationTimestamp" class="form-control" />
                <span asp-validation-for="Order.CreationTimestamp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.PaymentTimestamp" class="control-label"></label>
                <input asp-for="Order.PaymentTimestamp" class="form-control" />
                <span asp-validation-for="Order.PaymentTimestamp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.PaymentMethod" class="control-label"></label>
                <input asp-for="Order.PaymentMethod" class="form-control" />
                <span asp-validation-for="Order.PaymentMethod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.PaymentAmount" class="control-label"></label>
                <input asp-for="Order.PaymentAmount" class="form-control" />
                <span asp-validation-for="Order.PaymentAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
